.titulop{
text-align: center;
font-size: 40px;
color: rgba(184, 91, 63, 0.83);
text-shadow: 3px 3px 5px rgb(153, 88, 58);  
padding-top: 30px;
padding-bottom: 20px;
letter-spacing: 10px;
}
.Proyecto{
    background: rgba(201, 113, 65, 0.275);

}
.galeria-pro{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.imagen-pro{
    width:24%;
    margin-bottom: 10px;
    height: 250px;
    overflow: hidden;
    position: relative;
    cursor: pointer ;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}
.imagen-pro img{
    width: 303px;
    height: 250px;
    object-fit: cover;
    display: block;
}
.hover-galeria{
    position: absolute;
     width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}
.hover-galeria img{   
    width: 100px;
    height: 100px;
}
.hover-galeria p{
    text-align: center;
    color: rgb(255, 255, 255);
}
.hover-galeria:hover{
    transform: scale(1);
     background: #840606b3;
 transition-duration: 0.5s;
 opacity: 1;
}
