body{
  margin: 0;
  font-family: sans-serif;
}
header{
  width: 100%;
  background: rgba(124, 61, 27, 0.433);
}
#btn-menu{
  display: none;
}
header label{
  display: none;
  font-display: block;
  width: 30px;
  height: 30px;
  padding: 10px;
  justify-content: flex-end;

}
header label img{
    width: 30px;
    height: 30px;
}
header label:hover{
  cursor: pointer;
  background: rgba(46, 54, 174, 0.576);
}
.menu ul{
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.menu li a{
  display: block;
  padding: 15px 20px;
  color: aliceblue;
  text-decoration: none;
}
.menu li:hover{
  background: rgba(114, 103, 214, 0.535);
}

@media (max-width:968px){
  header label{
    display: block;
  }
  .menu{
    position: absolute;
    background: rgba(124, 61, 27, 0.433);
    margin-left: -70%;
    transition: all 0.5s;
  }
  .menu ul{
    flex-direction: column;
  }
  .menu li{
    border-top: 1px solid #fff;
  }
  #btn-menu:checked ~ .menu {
    margin: 0;
  }
}