.titulo{
    text-align: center;
    margin-bottom: 40px;
    line-height: 40pt;
    font-size: 40px;
    color: rgba(184, 91, 63, 0.83);
    text-shadow: 3px 3px 5px rgb(109, 72, 36);  
    margin-top: 3%;
    letter-spacing: 10px;
}
.contenedor{
    
    padding-top: 2%;
}
.cards{
    display: flex;
    justify-content: space-evenly;  
    flex-wrap:wrap ;
}
.cards .card{
    background: hsla(21, 73%, 41%, 0.844) ;
    display: flex;
    width: 500px;
    height: 250px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    margin: 8px;
}
.cards .card img{
    width: 100px;
    height: 100px;
    object-fit:cover;
    border: 3px solid #10001db3;
    border-radius: 50%;
}
.cards .card > .contenido-texto-card{
    width:60%;
    color: #fff;
}
.cards.card >.contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}
.contenido-texto-card > p{
    margin: 15px 0px;
}
@media (max-width: 600px){
    .titulo{
        margin-left: 15%;
        margin-top: 1%;
    }
  }